<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.employee.mapper.EmployeeMapper">
    <insert id="insertEmployee" parameterType="com.gym.employee.pojo.Employee">
        insert into Employee (employee_account, employee_name, employee_gender, employee_age, entry_time, staff, employee_message)
        values (#{employeeAccount}, #{employeeName}, #{employeeGender}, #{employeeAge}, #{entryTime}, #{staff}, #{employeeMessage})
    </insert>
</mapper>
