<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gym.member.mapper.MemberMapper">
    <insert id="insertMember" parameterType="com.gym.member.pojo.Member">
        insert into member(memberAccount,memberPassword) values(#{memberAccount},#{memberPassword})
    </insert>
    <select id="userSelect" resultType="com.gym.member.pojo.Member">
        select * from member where member_account = #{memberAccount} and member_password = #{memberPassword}
    </select>
    <update id="updateMember" parameterType="com.gym.member.pojo.Member">
        update member set member_password = #{member.memberPassword} ,member_name = #{member.memberName} ,member_age = #{member.memberAge},member_gender = #{member.memberGender} ,member_phone = #{member.memberPhone},
        member_height = #{member.memberHeight},member_weight = #{member.memberWeight} where member_account = #{member.memberAccount}
    </update>
</mapper>